.container{
    width: 350px;
    height: 500px;
    position: relative;
    left: 50%;
    transform: translate(-50%,50px);
    background-color: #000;
    border-radius: 7px;
    cursor: pointer;
}
.bodys input{
    width: 100%;
    max-width: 95%;
    height: 95px; 
    background-color: #000;
    color: #fff;
    
    border: 1px solid #000;
    list-style: none;
    font-size: 30px;
    font-weight: 600;
    border-radius: 10px;
    text-align: right;
    
    margin-bottom: 20px;
}
.rows{
    text-align: center;
    
}
.rows input{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 5px 10px;
    cursor: pointer;
    font-size: 20px;
    border: none;
}
.signe {
    background-color: rgb(243, 165, 19);
    color: #fff;

}
.equal{
    background-color: rgb(243, 165, 19);
    color: #fff;
}
.clear{
    background-color: rgb(173, 168, 168);
    color: #000;
}

.number{
    background-color: rgb(73, 72, 72);
    color: #fff;
}